NODE_ENV = development
PORT = 3001
TZ=Europe/Amsterdam

TYPEORM_CONNECTION = mysql
TYPEORM_HOST = 127.0.0.1
TYPEORM_PORT = 3306
TYPEORM_DATABASE = parelpracht
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = parelpracht
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_MIGRATIONS = dist/migration/**/*.js
TYPEORM_SUBSCRIBERS = dist/subscriber/**/*.js
TYPEORM_SSL_ENABLED = false
TYPEORM_SSL_CACERTS = /etc/ssl/certs/ca-certificates.crt

SESSION_SECRET = secret

MAIL_HOST =
MAIL_PORT = 465
MAIL_USER =
MAIL_PASSWORD =
MAIL_FROM =

SERVER_HOST = http://localhost:3000

# If these environment variables are left empty, LDAP will be disabled
LDAP_URL =
LDAP_BINDDN =
LDAP_BINDCREDENTIALS =
LDAP_SEARCHBASE =
LDAP_SEARCHFILTER =

# The following environment variables are used by the DirectMail plugin
# This is optional and thus these variables can be removed (if not used)
DIRECTMAIL_URL=
DIRECTMAIL_USERNAME=parelpracht
DIRECTMAIL_PASSWORD=
DIRECTMAIL_PRODUCT_ID=
