NODE_ENV = development
PORT = 3001
TZ=Europe/Amsterdam

TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_PORT = 5432
TYPEORM_DATABASE = crm
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD =
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_ENTITIES = dist/entity/**/*.js
TYPEORM_MIGRATIONS = dist/migration/**/*.js
TYPEORM_SUBSCRIBERS = dist/subscriber/**/*.js

SESSION_SECRET =

MAIL_HOST =
MAIL_PORT = 465
MAIL_USER =
MAIL_PASSWORD =
MAIL_FROM =

SERVER_HOST = http://localhost:3000

LDAP_URL =
LDAP_BINDDN =
LDAP_BINDCREDENTIALS =
LDAP_SEARCHBASE =
LDAP_SEARCHFILTER =

DIRECTMAIL_URL=
DIRECTMAIL_USERNAME=parelpracht
DIRECTMAIL_PASSWORD=
DIRECTMAIL_PRODUCT_ID=
